@font-face {
    font-family: 'Hack';
    src: local('/assets/Hack-Regular.ttf');
}

body {
    background-color: #1b1d21;
    font-family: 'Hack', monospace !important;
    color: #eceff4;
}

a {
    text-decoration-line: underline !important;
}

.terminal {
    overflow-y:scroll;
    border-radius: 4px;
    border: 2px solid #56b6c2;
    scrollbar-width: none;
}

.terminal::-webkit-scrollbar {
    display: none !important;
}

.user { color: #98c379 }
.directory { color: #61afef }
.symbols { color: #5c6370; }

#input {
    animation: blink 0.1s infinite;
}